<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) | %cyan(%thread) | %highlight(%-5.5level) | %green(%class{36}) | %green(%method) - %boldWhite(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.sorted.chaos" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
